# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df = df.dropna()
data_df = df

df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [5]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70
...                 ...   ...   ...
2017-08-17  USC00516128  0.13    72
2017-08-19  USC00516128  0.09    71
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[18103 rows x 3 columns]

In [6]:
# Drop the date column
df.drop(['date'], axis=1)

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
5      USC00519397  0.06    70
...            ...   ...   ...
19543  USC00516128  0.13    72
19545  USC00516128  0.09    71
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[18103 rows x 3 columns]

### Compare June and December data across all years

In [23]:
from scipy import stats

In [24]:
# Filter data for desired months

june_df = data_df['tobs'][data_df['date'].dt.month == 6].dropna()
june_df

december_df = data_df['tobs'][data_df['date'].dt.month == 12].dropna()
december_df

305      76
306      74
307      74
308      64
309      64
         ..
19323    71
19324    71
19325    69
19326    65
19327    65
Name: tobs, Length: 1405, dtype: int64

In [25]:
# Identify the average temperature for June
june_mean = june_df.mean()
june_mean

74.88754764930114

In [26]:
# Identify the average temperature for December
december_mean = december_df.mean()
december_mean

70.93024911032029

In [27]:
# Create collections of temperature data
june_df
december_df

305      76
306      74
307      74
308      64
309      64
         ..
19323    71
19324    71
19325    69
19326    65
19327    65
Name: tobs, Length: 1405, dtype: int64

In [28]:
# Run paired t-test

stats.ttest_ind(june_df, december_df)

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis

In [29]:
'''As per unpaired T-Test, p-value is almost near to zero. 
So lower p-value and higher t-value we can reject null hypothesis.
Which indicates that there is significant difference between month June and December samples. 

For These samples, we will be using unpaired T-Test because samples are independent of each other 
and having different sample size.'''

'As per unpaired T-Test, p-value is almost near to zero. \nSo lower p-value and higher t-value we can reject null hypothesis.\nWhich indicates that there is significant difference between month June and December samples. \n\nFor These samples, we will be using unpaired T-Test because samples are independent of each other \nand having different sample size.'